wheel==0.29.0
pytz==2017.2
mysql-connector-python==8.0.15
PyYAML==4.2b1
minio==2.2.4
kafka-python==1.4.5
influxdb==5.2.1
pyarrow==0.15.1
pympler==0.5
hdfs3==0.3.0
pyspark==2.4.4
msgpack==0.6.1
PyJWT==1.7.1
pandas==0.24.2
texttable
numpy==1.16.1
geopy==1.18.1
Shapely==1.6.4.post2
scikit-learn==0.22.2.post1
plotly==3.10.0
matplotlib
cufflinks==0.16
ipyleaflet
scipy