wheel==0.29.0
pytz==2017.2
mysql-connector-python==8.0.15
PyYAML==4.2b1
minio==2.2.4
kafka==1.3.5
influxdb==5.2.1
pyarrow==0.11.1
pympler==0.5
hdfs3==0.3.0
pyspark==2.4.0
pennprov==2.2.0.dev3
PyJWT==1.7.1